tests/
node_modules/
.git/
.idea/
storage/
public/storage/
public/hot
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.env
.env.example
.gitignore
.gitattributes
_import/
_import-moves/
tests
bootstrap/cache
.DS_Store
Dockerfile
